
.autocomplete-suggestions {
    border: 1px solid #e0e0e0;
    background: #fff;
    cursor: default;
    overflow: auto;

}

.autocomplete-suggestion {
    height: 67px;
    overflow: hidden;
    padding: 10px 5px 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
    display: block;
}

.autocomplete-selected {
    background: #fafafa;
}
.autocomplete-suggestion a {
    display: block;
    height: 100%;
}


input#searchauto {
    border: 1px solid #bbb;
    border-radius: 2px;
    width: 375px;
}

.suggestion-left {
    float: left;
    width: 15%;
    padding: auto;
}

.suggestion-right {
    width: 82%;
    padding-left: 10px;
    text-align: left;
    color: black;
    float: left;
}

.product-name {
    font-size: 14px;
    color: #3399cc;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-line {
    margin-bottom: 5px;
}

.autocomplete-suggestion:last-child {
    border-bottom: none;
}

#view_all{
    text-align: center;
    background: #eff4f7;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
}