html{
    background: #fafafa;
}

/* header */
ul#sub-menu-account {
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    width: 200px;
    display: none;
}
#sub-menu-account li {
    width: 100%;
    height: 50px;
}
#sub-menu-account li a{
    height: 50px;
    line-height: 50px !important;
    text-align: center;
    color: #555 !important;
}
#sub-menu-account li a:hover{
    text-decoration: none !important;
}
li#link-sub-menu:hover ul#sub-menu-account{
    display: block;
}

/* end header */

/* style sign in page*/
section.main-nav {
    background: #2bbbad;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.main-nav .row {
    margin-bottom: 0;
}
.main-nav nav.main-menu {
    background: inherit !important;
    box-shadow: none !important;
    height: 64px !important;
}
ul.right {
    height: 100%;
}
ul.right li {
    height: 100%;
}
ul.right li a i{
    line-height: 64px;
}
a#display-main-search {
    display: block;
    height: 100%;
}
a#display-main-search  i{
    line-height: 64px; 
}
section.main-signin {
    margin-top: 120px;
}
.main-signin .col-signin {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    padding: 20px 20px;
    background: #fff;
}
.col-signin form.signin-form {
    margin-bottom: 30px;
}
.col-signin .signin-title {
    font-size: 15px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.signin-form button.btn {
    width: 100%;
    margin-top: 10px;
}
.col-signin span.signin-divide {
    display: block;
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}
.col-signin .social-signin {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.social-signin a.btn {
    display: block;
    margin-top: 10px;
}
a#signin-fb {
    background: #3b5998;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: auto;
}
a#signin-gg {
    background: #ee6e73;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: auto;
}
a#signin-twt {
    background: #489cdf;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: auto;
}
.social-signin i.fa {
    margin-top: 7px;
}
.signin-form h5 {
    text-align: center;
    margin-bottom: 25px;
}
.signin-form .field-small{
  margin-top: 0;
}
.field-small p {
    display: inline;
    margin-left: 5px;
}
a#forgot-pass {
    float: right;
    margin-right: 5px;
}
a#forgot-pass:hover{
  text-decoration: underline !important;
}
.col-signin a.create-acc {
    text-align: right;
    display: block;
    margin-right: 5px;
}
.col-signin a.create-acc:hover {
    text-decoration: underline !important;
}

/* end style sign in page*/

/* style home page*/
@media only screen and (max-width: 992px){
    nav .brand-logo {
        left: 150px !important;
    }
}

input#pl-search {
    background: #fff;
    border-radius: 20px;
    height: 38px;
    margin-top: 13px;
    margin-bottom: 0;
}
.search-form button.reset-search {
    width: 28px;
    height: 38px;
    position: absolute;
    top: 0;
    /*left: 92%;*/
    background: none;
    border: none;
    padding: 0;
}
.reset-search i {
    height: 100% !important;
    line-height: 38px !important;
    color: #757575 !important;
}
a#menu-noti {
    height: 64px;
}
a#menu-noti i{
    font-size: 24px;
    height: 24px;
    display: block;
    line-height: 64px;
}
a#menu-message i {
    font-size: 24px;
}
section.main-search {
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2bbbad;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.main-search .container {
    height: 100%;
}
.main-search .row {
    height: 100%;
}
.search-form .input-field {
    margin-top: 0;
}
button.search-icon {
    position: absolute;
    top: 1px;
    left: 20px;
    padding: 0;
    padding-top: 6px;
    background: #fff;
    border: none;
    color: #757575;
}
button.search-icon:focus{
    background: #fff !important;
}
button.close-main-search {
    float: right;
    margin-top: 17px;
    border-radius: 50%;
    border: 1px solid #eee;
    background: #fff;
    padding: 0;
    width: 32px;
    height: 32px;
}
button.close-main-search i{
    display: block;
    height: 32px;
    line-height: 32px;
    color: #ee6e73;
}
section.main-content {
    margin-top: 80px;
}
form.post-form {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 0 !important;
    cursor: default !important;
}
.attach-files {
    height: 34px;
    padding: 0 10px;
}
a.att-btn {
    float: left;
    width: 50%;
    text-align: center;
    border-right: 1px solid #eee;
    color: #757575;
    line-height: 30px;
    cursor: pointer !important;
    border-bottom: 1px solid #eee;
}
a.att-image{
    border-right: none !important;
}
a.att-btn i {
    color: #2bbbad;
    top: 6px;
    position: relative;
}
.field-submit {
    display: inline-block;
    width: 100%;
}
.field-submit button{
    float: right;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    padding: 0 20px;
}
textarea#new-post {
    border-bottom: 1px solid #eee;
    cursor: text;
}
.post-row {
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 10px;
}
.user-avatar {
    width: 43px;
    float: left;
    margin-top: 5px;
}
.user-post {
    display: inline-block;
    margin-left: 5px;
    width: calc(100% - 76px);
    float: left;
}
.user-post span.post-username {
    color: #0089ec;
    display: block;
}
.user-post span.post-username a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.user-post span.post-on {
    color: #777;
    font-size: 13px;
}
#link-sub-menu a img{
    width: 44px;
    border-radius: 50%;
    height: 44px;
    display: block;
    margin-top: 10px;
}
.post-act {
    position: relative;
    left: 8px;
    top: -8px;
    width: 25px;
    display: inline-block;
}
.post-act a{
    cursor: pointer;
    display: block;
}
.interaction i {
    font-size: 15px;
    top: 2px;
    position: relative;
}
.interaction a {
    margin-right: 10px;
    font-size: 13px;
    cursor: pointer;
}
.post-menu-act {
    position: absolute;
    width: 80px;
    right: 0px;
    top: 15px;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 10px 0px #ddd;
    background: #fafafa;
}
.post-menu-act a {
    padding: 5px;
    color: #757575;
}
.post-menu-act a:hover {
    background: #eee !important;
    color: #0089ec;
}
.post-menu-act a i {
    font-size: 18px;
    position: relative;
    top: 3px;
}
@media (max-width: 1199px){
    .col-left-link{
        display: none;
    }
}
.col-left-link {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    min-height: 500px !important;
}
.menu-left{
    margin-top: 0;
}
.menu-left li a {
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    color: #777;
}
.menu-left li a:hover{
    background: #eee !important;
}
.menu-left li a i {
    font-size: 15px;
    position: relative;
    top: 2px;
    color: #039be5;
}
.link-profile {
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
}
.link-profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px !important;
    margin: 0 auto;
    display: block;
}
.link-profile a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #777;
}
.link-profile a:hover{
    text-decoration: underline;
}
.link-profile a i{
    font-size: 18px;
    position: relative;
    top: 3px;
    color: #039be5;
}
.post-info {
    min-height: 50px;
}
.post-content p{
    margin-top: 0;
}
textarea#post-body {
    border-bottom: 1px solid #ddd;
}
.modal-footer a.btn {
    float: none !important;
    margin-right: 10px !important;
    background: #777 !important;
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .trending{
        width: calc(100% - 7 / 12 *100%) !important;
    }
}

.trending {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.trending h5.title {
    font-size: 16px;
    text-transform: capitalize;
}
.trending a.trend-row {
    display: block;
    border-top: 1px solid #eee;
    padding: 5px 0;
}
.trending a.trend-row:hover {
    background: #fafafa;
}
.trend-row .post-info {
    min-height: 40px;
}
.trend-row .post-content p {
    margin-bottom: 0;
    margin-top: 5px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#pl-dropzone {
    display: block;
    min-height: 34px;
    position: relative;
}
.dz-default.dz-message {
    display: none;
}
.interaction {
    border-top: 1px solid #eee;
}
span.num-of-like {
    font-size: 12px;
    overflow: hidden;
    display: block;
}
.addthis_inline_share_toolbox {
    width: 68px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fafafa;
    border-radius: 3px;
}
.addthis_inline_share_toolbox .at-share-btn {
    display: block;
    width: 42px;
    height: 42px;
}
#mobile-navbar i {
    height: 100%;
}
.post-media img {
    width: 95%;
    display: block;
    margin: 0 auto 15px auto;
}
div#preview {
    display: inline-block;
    padding: 0 10px 30px;
    width: 100%;
}
#preview a{
    position: relative;
    top: 20px;
    left: -70px;
    color: blue;
    cursor: pointer;
}
#preview img{
    margin-top: 30px;
    border-radius: 30px;
    width: 95px;
}
.multi-medias .material-placeholder {
    display: inline-block;
    width: 48%;
    text-align: center;
}
.trend-img {
    height: 100px;
    margin-top: 5px;
}
.trend-img img{
    height: 100% !important;
}


/* end style home page*/

/* style profile page */
section.profile-image {
    margin-top: 50px;
    margin-bottom: 30px;
}
.col.s12.wall {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 0;
    background: #fff;
    height: 445px;
}
.cover-img {
    height: 350px;
    overflow: hidden;
    position: relative;
}
.cover-img:hover a.edit-wall-img{
    display: block;
}
.cover-img a.edit-wall-img {
    position: absolute;
    top: 35px;
    color: #fff;
    margin-left: 10px;
    display: none;
    cursor: pointer;
}
.cover-img a.edit-wall-img i{
    position: relative;
    top: 5px;
}
.account-avatar {
    width: 100px;
    position: absolute;
    top: 350px;
}
.account-avatar img {
    border-radius: 50%;
    height: 100px !important;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.account-avatar a.edit-avatar {
    position: relative;
    top: -30px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    display: none;
    margin: 0 auto;
    border-radius: 10px;
    height: 24px;
}
.account-avatar:hover a{
    display: block;
    background: #777;
}
.profile-menu {
    margin-top: 60px;
    text-align: center;
}
.profile-menu a {
    padding: 5px 10px;
    display: inline-block;
    color: #757575;
    font-size: 15px;
    text-transform: capitalize;
    border-right: 1px solid #e0e0e0;
}
.profile-menu a:last-child{
    border-right: none;
}
.profile-menu a:hover{
    background: #e0e0e0;
}

@media (min-width: 993px){
    .col-user-post{
        padding-right: 0 !important;
    }
}
@media (max-width: 992px){
    .col-user-post{
        padding: 0 !important;
    }
}
.col-info{
    padding-left: 0 !important;
}
.main-info {
    background: #fff;
    border: 1px solid #dddddd;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
    padding: 10px;
}
.photo-box {
    margin-top: 15px;
    background: #fff;
    border: 1px solid #dddddd;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
    padding: 10px;
}
.video-box {
    margin-top: 15px;
    background: #fff;
    border: 1px solid #dddddd;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
    padding: 10px;
}
.info {
    margin-bottom: 10px;
}
.info span {
    width: calc(100% - 30px);
    display: inline-block;
    font-size: 13px;
    color: #555;
}
.info span i {
    font-size: 16px;
    position: relative;
    top: 2px;
    color: #777;
}
.info a {
    cursor: pointer;
    float: right;
    display: none;
    margin-top: 3px;
}
.info a i {
    font-size: 16px;
}
.info:hover a{
    display: inline-block;
}
span.title-info {
    font-size: 16px;
}
.thumnail {
    margin-top: 10px;
}
.thumnail img {
    width: 48%;
    margin: 0 auto;
    cursor: pointer;
}
a.change-user-photos {
    line-height: 27px;
}
a.change-user-photos i{
    position: relative;
    top: 5px;
    font-size: 22px;
}


/* end style profile page */

/* style user info */
.col-tabs {
    padding-left: 0 !important;
}
@media (max-width: 600px){
    .col-tabs {
        display: none;
    }
}
.tab-info {
    background: #fff;
}
.tab-info .tabs {
    display: block !important;
    overflow-x: hidden;
}
.tabs a.tab-link {
    display: block;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    height: 100%;
    line-height: 28px;
}
.tabs a.tab-link:hover {
    background: #f5f5f5;
}
a.link-active{
    border-left: 2px solid red;
}
.col-info {
    padding-right: 0 !important;
    background: #fff;
}
.main-user-info {
    padding: 10px 20px;
}
.infor span.title {
    font-size: 18px;
    color: #555;
}
.infor .collapsible {
    border: none;
    box-shadow: none;
}
.infor .collapsible-header {
    border: none;
}
.infor .collapsible-header:hover{
    background: #f5f5f5;
}
.infor .collapsible-body{
    border: none;
}
.infor i.edit-icon {
    float: right;
    font-size: 20px;
    display: none;
}
.infor .collapsible-header:hover i.edit-icon{
    display: block;
}
.infor i {
    color: #2bbbad;
}
button.cancel {
    background: #777 !important;
}
.infor .input-field {
    padding: 0 20px;
}
.infor {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.infor:last-child {
    border-bottom: none;
}
.collapsible p{
    padding: 0.5rem !important;
}

/* end style user info */

/* style photos page*/
.user-photos {
    padding: 0 0 20px 0 !important;
    background: #fff;
}
div#user-photos-gallery {
    padding: 10px 20px;
}
.user-photos span.title {
    display: inline-block;
    font-size: 18px;
    width: 100%;
    padding-left: 30px;
    margin-top: 15px;
    color: #555;
}
.title.videos{
    border-top: 1px solid #eee;
}
.photo-item img {
    cursor: pointer;
}
.photo-item {
    margin-bottom: 10px;
    height: 100px;
    overflow: hidden;
}
div#user-videos-gallery {
    padding: 10px 20px;
}

/* end style photos page*/

/* style news page*/
.col-news .post-row:first-child{
    margin-top: 0;
}
.col-news span.title {
    display: block;
    background: #fff;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 16px;
}

/* end style news page*/

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* end fallback */

/* modal bootstrap*/
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
    background: inherit;
    max-height: none;
    width: auto;
    margin-top: 70px;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
    margin: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px !important;
  text-align: right;
    text-align: right;
    background: inherit !important;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.modal-header:after,
.modal-footer:after {
  clear: both;
}

/* end modal bootstrap */