/* style sign in page*/
section.main-nav {
    background: #2bbbad;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.main-nav .row {
    margin-bottom: 0;
}
.main-nav nav.main-menu {
    background: inherit !important;
    box-shadow: none !important;
}
section.main-signin {
    margin-top: 120px;
}
.main-signin .col-signin {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    padding: 20px 20px;
}
.col-signin form.signin-form {
    margin-bottom: 30px;
}
.col-signin .signin-title {
    font-size: 15px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.signin-form button.btn {
    width: 100%;
    margin-top: 10px;
}
.col-signin span.signin-divide {
    display: block;
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}
.col-signin .social-signin {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.social-signin a.btn {
    display: block;
    margin-top: 10px;
}
a#signin-fb {
    background: #3b5998;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: auto;
}
a#signin-gg {
    background: #ee6e73;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: auto;
}
a#signin-twt {
    background: #489cdf;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: auto;
}
.social-signin i.fa {
    margin-top: 7px;
}
.signin-form h5 {
    text-align: center;
    margin-bottom: 25px;
}
.signin-form .field-small{
  margin-top: 0;
}
.field-small p {
    display: inline;
    margin-left: 5px;
}
a#forgot-pass {
    float: right;
    margin-right: 5px;
}
a#forgot-pass:hover{
  text-decoration: underline !important;
}
.col-signin a.create-acc {
    text-align: right;
    display: block;
    margin-right: 5px;
}
.col-signin a.create-acc:hover {
    text-decoration: underline !important;
}

/* style sign in page*/

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}